## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df.drop('EIN', axis=1, inplace=True)
application_df.drop('NAME', axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df.value_counts(['APPLICATION_TYPE'])
print(app_type_counts)

APPLICATION_TYPE
T3                  27037
T4                   1542
T6                   1216
T5                   1173
T19                  1065
T8                    737
T7                    725
T10                   528
T9                    156
T13                    66
T12                    27
T2                     16
T14                     3
T25                     3
T29                     2
T15                     2
T17                     1
dtype: int64

In [62]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T17','T15','T29', 'T25', 'T14', 'T2', 'T12', 'T13']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [63]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.value_counts(['CLASSIFICATION'])
print(classification_counts)

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
Other              2261
C3000              1918
C2100              1883
dtype: int64

In [64]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_greater_than_one = classification_counts[classification_counts > 1]
print(counts_greater_than_one)

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
Other              2261
C3000              1918
C2100              1883
dtype: int64

In [65]:
from types import EllipsisType
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 250].index)

# Replace in dataframe
for cls in classifications_to_replace:
   application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [66]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)

# Display the transformed data
dummies.tail()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [67]:
dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  uint8
 4   APPLICATION_TYPE_T10          34299 non-null  uint8
 5   APPLICATION_TYPE_T19          34299 non-null  uint8
 6   APPLICATION_TYPE_T3           34299 non-null  uint8
 7   APPLICATION_TYPE_T4           34299 non-null  uint8
 8   APPLICATION_TYPE_T5           34299 non-null  uint8
 9   APPLICATION_TYPE_T6           34299 non-null  uint8
 10  APPLICATION_TYPE_T7           34299 non-null  uint8
 11  APPLICATION_TYPE_T8           34299 non-null  uint8
 12  AFFILIATION_CompanySponsored  34299 non-null  uint8
 13  AFFILIATION_Family/Parent     34299 non-null  uint8
 14  AFFILIATION_Independent       34299 non-null  uint8
 15  AFFILIATION_National          34299 non-null  uint8
 16  AFFILIATION_Other             34299 non-null  uint8
 17  AFFILIATION_Regional          34299 non-null  uint8
 18  CLASSIFICATION_C1000          34299 non-null  uint8
 19  CLASSIFICATION_C1200          34299 non-null  uint8
 20  CLASSIFICATION_C2000          34299 non-null  uint8
 21  CLASSIFICATION_C2100          34299 non-null  uint8
 22  CLASSIFICATION_C3000          34299 non-null  uint8
 23  CLASSIFICATION_Other          34299 non-null  uint8
 24  USE_CASE_CommunityServ        34299 non-null  uint8
 25  USE_CASE_Heathcare            34299 non-null  uint8
 26  USE_CASE_Other                34299 non-null  uint8
 27  USE_CASE_Preservation         34299 non-null  uint8
 28  USE_CASE_ProductDev           34299 non-null  uint8
 29  ORGANIZATION_Association      34299 non-null  uint8
 30  ORGANIZATION_Co-operative     34299 non-null  uint8
 31  ORGANIZATION_Corporation      34299 non-null  uint8
 32  ORGANIZATION_Trust            34299 non-null  uint8
 33  INCOME_AMT_0                  34299 non-null  uint8
 34  INCOME_AMT_1-9999             34299 non-null  uint8
 35  INCOME_AMT_10000-24999        34299 non-null  uint8
 36  INCOME_AMT_100000-499999      34299 non-null  uint8
 37  INCOME_AMT_10M-50M            34299 non-null  uint8
 38  INCOME_AMT_1M-5M              34299 non-null  uint8
 39  INCOME_AMT_25000-99999        34299 non-null  uint8
 40  INCOME_AMT_50M+               34299 non-null  uint8
 41  INCOME_AMT_5M-10M             34299 non-null  uint8
 42  SPECIAL_CONSIDERATIONS_N      34299 non-null  uint8
 43  SPECIAL_CONSIDERATIONS_Y      34299 non-null  uint8
dtypes: int64(3), uint8(41)
memory usage: 2.1 MB

In [142]:
# Split our preprocessed data into our features and target arrays
x_features = dummies.drop('IS_SUCCESSFUL', axis=1)
y_targets = dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test= train_test_split(x_features, y_targets, test_size=.65)

In [143]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [174]:
from keras.api._v2.keras.layers import LeakyReLU

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=200, activation='LeakyReLU', input_dim=43))
#dropout
nn.add(tf.keras.layers.Dropout(rate=.7))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=200, activation='tanh'))
#dropout
nn.add(tf.keras.layers.Dropout(rate=.7))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation='sigmoid'))
#dropout
nn.add(tf.keras.layers.Dropout(rate=.7))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_36"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_138 (Dense)           (None, 200)               8800

 dropout_102 (Dropout)       (None, 200)               0

 dense_139 (Dense)           (None, 200)               40200

 dropout_103 (Dropout)       (None, 200)               0

 dense_140 (Dense)           (None, 100)               20100

 dropout_104 (Dropout)       (None, 100)               0

 dense_141 (Dense)           (None, 1)                 101

=================================================================
Total params: 69,201
Trainable params: 69,201
Non-trainable params: 0
_________________________________________________________________

In [125]:
# Create Method that creates a new sequential model with hyperparameter options
#def create_model(hp):
  #nn = tf.keras.models.Sequential()

  # kerastunor to decide best activation function
  #activation = hp.Choice('activation', ['LeakyReLU','tanh','sigmoid'])

  # kerastunor to decide number of neurons in first layer
  #nn.add(tf.keras.layers.Dense(units=hp.Int('first_units', min_value=1, max_value=10,step=2), activation='activation', input_dim=43))

  # kerastuner to decide number of hidden layers and neurons in hidden layers
  #for i in range(hp.Int('num_layers', 1, 6)):
  #  nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
  #                                                  min_value=1,
  #                                                  max_value=10,
  #                                                  step=2),
  #                                    activation=activation))

  #nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
  # Compile the model
  #nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

#return nn

In [15]:
# Import the kerastunor libaray
#import keras_tuner as kt

#tuner = kt.Hyperband(create_model, objective='val_accuracy', maxepochs=20,hyperband_iterations=2)

# Run kerastunor
#tuner.search(x_train_scaled, y_train, epochs=20, validation_data=(x_test_scaled,y_test))

# Get best model hyperparameters
#best_hyper = tuner.get_best_hyperparameters(1)[0]
#best_hyper.values

In [ ]:
# Evaluate best model against full test data
#best_model = tuner.get_best_models(1)[0]
#model_loss, model_accuracy = best_model.evaluate(x_test_scaled,y_test,verbose=2)
#print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [175]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [176]:
# Train the model
fit_model = nn.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
376/376 [==============================] - 5s 8ms/step - loss: 0.6854 - accuracy: 0.6325
Epoch 2/100
376/376 [==============================] - 3s 7ms/step - loss: 0.6104 - accuracy: 0.6965
Epoch 3/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5875 - accuracy: 0.7142
Epoch 4/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5793 - accuracy: 0.7208
Epoch 5/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5734 - accuracy: 0.7202
Epoch 6/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5741 - accuracy: 0.7242
Epoch 7/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5704 - accuracy: 0.7221
Epoch 8/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5718 - accuracy: 0.7225
Epoch 9/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5663 - accuracy: 0.7276
Epoch 10/100
376/376 [==============================] - 2s 6ms/step - loss: 0.5662 - accuracy: 0.7250
Epoch 11/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5665 - accuracy: 0.7283
Epoch 12/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5687 - accuracy: 0.7276
Epoch 13/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5666 - accuracy: 0.7258
Epoch 14/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5631 - accuracy: 0.7287
Epoch 15/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5649 - accuracy: 0.7280
Epoch 16/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5669 - accuracy: 0.7253
Epoch 17/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5676 - accuracy: 0.7272
Epoch 18/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5654 - accuracy: 0.7277
Epoch 19/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5642 - accuracy: 0.7293
Epoch 20/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5655 - accuracy: 0.7255
Epoch 21/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5636 - accuracy: 0.7295
Epoch 22/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5636 - accuracy: 0.7302
Epoch 23/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5666 - accuracy: 0.7282
Epoch 24/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5633 - accuracy: 0.7290
Epoch 25/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5654 - accuracy: 0.7298
Epoch 26/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5641 - accuracy: 0.7300
Epoch 27/100
376/376 [==============================] - 2s 6ms/step - loss: 0.5618 - accuracy: 0.7309
Epoch 28/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5643 - accuracy: 0.7326
Epoch 29/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5621 - accuracy: 0.7292
Epoch 30/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5611 - accuracy: 0.7290
Epoch 31/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5635 - accuracy: 0.7284
Epoch 32/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5634 - accuracy: 0.7309
Epoch 33/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5635 - accuracy: 0.7277
Epoch 34/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5628 - accuracy: 0.7272
Epoch 35/100
376/376 [==============================] - 2s 6ms/step - loss: 0.5632 - accuracy: 0.7265
Epoch 36/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5608 - accuracy: 0.7296
Epoch 37/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5619 - accuracy: 0.7298
Epoch 38/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5633 - accuracy: 0.7280
Epoch 39/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5629 - accuracy: 0.7307
Epoch 40/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5622 - accuracy: 0.7302
Epoch 41/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5639 - accuracy: 0.7292
Epoch 42/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5607 - accuracy: 0.7297
Epoch 43/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5615 - accuracy: 0.7292
Epoch 44/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5620 - accuracy: 0.7298
Epoch 45/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5608 - accuracy: 0.7277
Epoch 46/100
376/376 [==============================] - 1s 3ms/step - loss: 0.5637 - accuracy: 0.7295
Epoch 47/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5636 - accuracy: 0.7289
Epoch 48/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5615 - accuracy: 0.7299
Epoch 49/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5614 - accuracy: 0.7283
Epoch 50/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5627 - accuracy: 0.7300
Epoch 51/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5598 - accuracy: 0.7277
Epoch 52/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5581 - accuracy: 0.7321
Epoch 53/100
376/376 [==============================] - 2s 6ms/step - loss: 0.5610 - accuracy: 0.7298
Epoch 54/100
376/376 [==============================] - 2s 6ms/step - loss: 0.5605 - accuracy: 0.7290
Epoch 55/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5621 - accuracy: 0.7297
Epoch 56/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5580 - accuracy: 0.7298
Epoch 57/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5621 - accuracy: 0.7286
Epoch 58/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5620 - accuracy: 0.7309
Epoch 59/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5597 - accuracy: 0.7290
Epoch 60/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5626 - accuracy: 0.7288
Epoch 61/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5611 - accuracy: 0.7306
Epoch 62/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5572 - accuracy: 0.7329
Epoch 63/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5631 - accuracy: 0.7298
Epoch 64/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5601 - accuracy: 0.7283
Epoch 65/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5616 - accuracy: 0.7289
Epoch 66/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5598 - accuracy: 0.7340
Epoch 67/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5610 - accuracy: 0.7321
Epoch 68/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5616 - accuracy: 0.7311
Epoch 69/100
376/376 [==============================] - 3s 9ms/step - loss: 0.5594 - accuracy: 0.7297
Epoch 70/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5590 - accuracy: 0.7322
Epoch 71/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5618 - accuracy: 0.7280
Epoch 72/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5596 - accuracy: 0.7308
Epoch 73/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5600 - accuracy: 0.7314
Epoch 74/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5616 - accuracy: 0.7284
Epoch 75/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5614 - accuracy: 0.7299
Epoch 76/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5617 - accuracy: 0.7286
Epoch 77/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5599 - accuracy: 0.7293
Epoch 78/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5623 - accuracy: 0.7306
Epoch 79/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5629 - accuracy: 0.7288
Epoch 80/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5609 - accuracy: 0.7287
Epoch 81/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5607 - accuracy: 0.7291
Epoch 82/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5620 - accuracy: 0.7288
Epoch 83/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5603 - accuracy: 0.7273
Epoch 84/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5608 - accuracy: 0.7303
Epoch 85/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5602 - accuracy: 0.7306
Epoch 86/100
376/376 [==============================] - 2s 5ms/step - loss: 0.5608 - accuracy: 0.7273
Epoch 87/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5594 - accuracy: 0.7327
Epoch 88/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5612 - accuracy: 0.7313
Epoch 89/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5588 - accuracy: 0.7327
Epoch 90/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5595 - accuracy: 0.7283
Epoch 91/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5615 - accuracy: 0.7291
Epoch 92/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5619 - accuracy: 0.7282
Epoch 93/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5591 - accuracy: 0.7316
Epoch 94/100
376/376 [==============================] - 2s 6ms/step - loss: 0.5580 - accuracy: 0.7315
Epoch 95/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5612 - accuracy: 0.7293
Epoch 96/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5610 - accuracy: 0.7278
Epoch 97/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5604 - accuracy: 0.7281
Epoch 98/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5607 - accuracy: 0.7321
Epoch 99/100
376/376 [==============================] - 2s 4ms/step - loss: 0.5608 - accuracy: 0.7310
Epoch 100/100
376/376 [==============================] - 1s 4ms/step - loss: 0.5617 - accuracy: 0.7298

In [177]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

697/697 - 1s - loss: 0.5586 - accuracy: 0.7272 - 1s/epoch - 2ms/step
Loss: 0.5585682392120361, Accuracy: 0.7271585464477539

In [113]:
# Export our model to HDF5 file
nn.save('model_file.h5')

In [ ]:
#from tensorflow.keras.models import load_model

# Load the model from the HDF5 file
#loaded_model = load_model('model_file.h5')

# Use the loaded model for predictions
#predictions = loaded_model.predict(X_test)